/* Сброс стилей */
*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 20px;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 1.5;
}
ul,
ol,
li {
  padding: 0;
  list-style: none;
}
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li
{
  margin: 0;
}
img {
  max-width: 100%;
  display: block;
}
a,
a:visited,
a:link{
    outline: none;
    text-decoration: none;
    color:#fff;
    font-size: 20px;
    cursor: pointer;
}

/* Основные стили CV */
.content{
    background-color: rgba(246, 216, 180, .5);
}
.container{
    max-width: 1400px;
    position: relative;
    margin: 0 auto;
    background-color: #fff;
}
.flex__box{
    display: flex;
}
h1{
    font-size: 110px;
    margin: 85px auto;
    text-align: center;
    font-family: 'Zen Tokyo Zoo', cursive;
    color: rgb(56, 67, 90);
}
.y{
    color:#F58B1FFF ;
    font-size: 110px;
    font-family: 'Zen Tokyo Zoo', cursive;
}
h2{
    margin: 30px 0px;
    font-size: 26px;
    text-align: center;
    background-color:#F58B1FFF;
    color: #fff;
    position: relative;
    
}
h2::before{
    position: absolute;
    content: '';
    height: 100%;
    border: 20px solid transparent;
    border-top: 20px solid #fff;
    border-left: 20px solid #fff;  
    left: 0;
    top: -1px;
}
h2::after{
    position: absolute;
    content: '';
    height: 100%;
    border: 20px solid transparent;
    border-bottom: 20px solid #fff;
    border-right: 20px solid #fff;  
    right: 0;
    top: -1px;
}
.left h2::before{
    border-top: 20px solid rgb(56, 67, 90);
    border-left: 20px solid rgb(56, 67, 90);  
}
.left h2::after{
    border-bottom: 20px solid rgb(56, 67, 90);
    border-right: 20px solid rgb(56, 67, 90);  
}
.left{
    max-width: 33%;
    margin-right: 20px;
    border-radius: 5px;
    margin-top: 70px;
}

.phone__title,
.email__title,
.loc__title
{
    margin: 10px 0;
    font-size: 22px;
}
.contact,
.education,
.skills,
.project{
    padding-top: 35px;
    background-color: rgb(56, 67, 90);
    color: #fff;
}
.project{
    border-radius: 0 0 5px 5px;
}
.contact{
    border-radius: 5px 5px 0 0;
}
section{
    padding: 15px;
}
ul{
    position: relative;
}
.skills li::before,
.languages li::before{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #F58B1FFF;
    display: block;
    top: 7px;
    left: 2px;
}
.skills li,
.languages li{
   position: relative;
   padding-left: 20px;
}
.img__box{
    margin-bottom: 45px;
}
.img__box img{
    border: 0px transparent solid;
    border-radius: 5px;
}
.logo{
    width: 70px;
    display: inline-block;
    margin-left: 20px;
}
.footer{
    background-color:#F58B1FFF ;
    display: flex;
    border-radius: 5px 5px 0 0 ;
    height: 100px;
    justify-content: space-around;
    align-items: center;
}
span{
   color: #fff; 
   font-size: 30px;
}
.rs a,
.git__link a{
font-size: 30px;
}
.contact a:hover,
.project a:hover{
    color: #F58B1FFF;
    transition: .3;
}
a:hover{
    color: rgb(56, 67, 90);
    transition: .3;
}
.img__phone{
    display: none;
}

pre span{
    font-size: 18px;
}
/* адаптив */

@media (max-width:1100px){
    *,
    *::after,
    *::before{
        font-size: 18px;
    }
    h1{
        margin: 50px;
        font-size: 83px;
    }
    .y{
        font-size: 83px;
    }
    h2{
        margin: 15px 0;
    }
    section{
        padding: 10px;
    }
    .contact, .education, .skills, .project{
        padding-top: 10px;
    }
}
@media (max-width:990px){
    h2{
        margin: 10px 0;
        font-size: 22px;
    }
    h1{
        margin: 30px;
        font-size: 80px;
    }
    .y{
        font-size: 80px;
    }
    .left{
        margin-top: 50px;
    }
    section{
        padding:5px 10px;
    }
}
@media (max-width:900px){
   
    h1{
        margin: 10px;
        font-size: 70px;
    }
    .y{
        font-size: 70px;
    }
    .left{
        margin-top: 30px;
    }
}

@media (max-width:767px){
    .flex__box{
        display: block;
    }
    .left{
        max-width: 100%;
        margin-right: 0;
        
    }
    .img__box img{
    display: none;
    }
    .img__phone{
        display: flex;
        justify-content: center;
        padding: 0px 10px;
    }
    h1{
        margin: 10px;
        font-size: 90px;
    }
    .y{
        font-size: 90px;
    }
    pre{
        
        margin-bottom:-80px ;
        margin-top: -10px;
       
    }
    .code{
        padding: 0;
    }
}
@media (max-width:610px){
    h1{
        margin: 10px;
        font-size: 80px;
    }
    .y{
        font-size: 80px;
    }
    *,
    *::after,
    *::before{
       line-height: 1.4;
    }
    .left{
        margin-top: 20px;
    }
}
@media (max-width:500px){
    *,
    *::after,
    *::before{
        font-size: 16px;
    }
    h1{
    margin: 0px 10px;
    font-size: 70px;
    
    }
    .y{
        font-size: 70px;
    }
   .footer{
       display: block;
       text-align: center;

   }
   pre{
   
    margin-left: -150px;

}
   
}

